<h1>About us</h1>
<p>One Month Rails Pinteresting 2.0</p>

<div class = "alert alert-info alert-dismissible" role = "alert">
	<button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
		<span aria-hidden = "true">&times;</span>
	</button>
	<strong>Heads up!</strong> This page is still being updated.
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active"><span class = "badge">14</span>
    Cras justo odio
  </a>
  <a href="#" class="list-group-item"><span class = "badge">9</span>Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>